src/Application Core/MemberRegistration App/Connected Services/MemberServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65364/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" />
  <xs:element name="OneUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="userObj" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OneUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Users">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="UsersResult" nillable="true" type="q2:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="obj" nillable="true" type="q3:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="empObj" nillable="true" type="q4:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmpIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="memberObj" nillable="true" type="q5:HouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="members">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="membersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="membersResult" nillable="true" type="q6:ArrayOfHouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="member" nillable="true" type="q7:HouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="GetApplicationIdResult" nillable="true" type="q8:HouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="member" nillable="true" type="q9:HouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEditedApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="member" nillable="true" type="q10:HouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEditedApplicantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="member" nillable="true" type="q11:HouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" minOccurs="0" name="SearchApplicantResult" nillable="true" type="q12:ArrayOfHouseholdInfoMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>