src/Application Core/MemberRegistration App/Connected Services/MemberServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberRegistrationFormService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employeeid" type="xs:int" />
      <xs:element minOccurs="0" name="HouseholdInfoMembers" nillable="true" type="tns:ArrayOfHouseholdInfoMember" />
      <xs:element minOccurs="0" name="Passwrd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfHouseholdInfoMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseholdInfoMember" nillable="true" type="tns:HouseholdInfoMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseholdInfoMember" nillable="true" type="tns:ArrayOfHouseholdInfoMember" />
  <xs:complexType name="HouseholdInfoMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="Employeeid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relationship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseholdInfoMember" nillable="true" type="tns:HouseholdInfoMember" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>